<form>
  <div class="form-col">{{input value=email type="email" placeholder="enter email"}} </div>
  <button type="submit" {{action 'triggerRecoverPassword'}} class="btn btn-main btn-block">Reset password</button>
</form>
<div class="spacer-sm"></div>
<div class="text-center">
  {{#link-to 'login'}}Back to login{{/link-to}}
</div>
{{#if errorMessage}}
  {{errorMessage}}
{{/if}}
